<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Resumes</title>
</head>
<body>
    <h1>All Resumes</h1>
    <ul>
        <% resumes.forEach(resume => { %>
            <% include ./partials/resume.ejs %>
        <% }); %>
    </ul>
</body>
</html>
