<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="todo-api"/>
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp><fieldName>timestamp</fieldName></timestamp>
                <logLevel><fieldName>level</fieldName></logLevel>
                <loggerName><fieldName>logger</fieldName></loggerName>
                <threadName><fieldName>thread</fieldName></threadName>
                <message><fieldName>message</fieldName></message>
                <mdc>
                    <includeMdcKeyName>correlationId</includeMdcKeyName>
                    <includeMdcKeyName>requestId</includeMdcKeyName>
                </mdc>
                <context/><stackTrace/>
            </providers>
        </encoder>
    </appender>
    <root level="INFO"><appender-ref ref="JSON_CONSOLE"/></root>
</configuration>
