<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>About</h2>
            <h3>Team Lead &amp; FullStack Developer &amp; Backend Web Developer.</h3>
            <p style="text-align: left;">
                {{{processedDetails.metadata.summarizedIntroduction}}}
            </p>
            <div class="row">
                <div class="col-sm-8 pt-4 pt-lg-0 content">
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong>
                            <span>
                                {{processedDetails.metadata.personalDetails.dateOfBirth}}
                            </span>
                        </li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong>
                            <span>
                                {{processedDetails.metadata.personalDetails.emails}}
                            </span>
                        </li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                            <span>
                                {{processedDetails.metadata.personalDetails.contactNumbers}}
                            </span>
                        </li>
                        <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Faridabad,
                                Haryana, India</span></li>
                    </ul>

                    <ul>
                        <!-- <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>37</span></li> -->
                        <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B.
                                Tech(CSE)</span></li>
                        <li><i class="bi bi-chevron-right"></i> <strong>Expertise:</strong>
                            <span>Java/JEE</span>
                        </li>
                        <!-- <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li> -->
                    </ul>

                </div>



            </div>
</section>